.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  background-color: rgb(252, 249, 242);
}

.wrapper {
  width: 700px;
  height: 200px;
  background-color: rgb(23, 166, 213);
}

.title {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 50px;
  color: white;
  margin-bottom: 10px;
  letter-spacing: 0.3em;
}
.text {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  color: white;
  font-size: large;
  letter-spacing: 0.3em;
}
